*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
}

ol,
ul {
    list-style: none;
}

/* MAIN */

.container {
    width: 57.8125%;
}

.container,
.primary {
    margin: 0 auto;
}

/* HEADER */
.header {
    padding: 4.114583333% 0 7.34375%;
    /* Делаю вехний и нижний отступ по макету */
    background: #eeeff1;
    /* Цвет хедеру */
}

.menu-wrap {
    margin-bottom: 14.594594595%;
    /* Делаю отступ для меню со ссылками */
}

.menu {
    font-size: 0px;
    /* Первый шаг, чтобы убрать пробел при способе расстановки в одну строку */
}

.menu__item {
    display: inline-block;
    /* Выставляем в линию обертки ссылок, делаем их строчно-блочными  (ширина не весь экран , но можем ее задать)*/
    margin-right: 3.783783784%;
    /* Отступ по макету */
    font-size: 1rem;
    /* Первый шаг, чтобы убрать пробел */
}

.menu__link {
    line-height: 1.625;
    /* Высота строк как на макете */
    font-weight: 400;
    /* Толщина шрифта как на макете */
    letter-spacing: 0.1rem;
    /* Межбуквенное расстояние */
    text-decoration: none;
    /* Убираем нижнее подчеркивание у ссылок */
    color: #000000;
    /* Цвет черный */
    transition: all .8s;
    /* Для плавной смены цвета шрифта */
}

.menu__link--current {
    color: #34547A;
    /* Цвет ссылки  на которой мы сейчас находимся  */

}

.menu__link:hover {
    color: #a87b18;
    /* Цвет при наведени */
    transition: all .8s;
    /* Для плавной смены цвета шрифта */
}

.hero__title {
    margin-bottom: 5.405405405%;
    /* Нижний отступ */
    font-size: 3rem;
    /* Размер шрита заготовка первого  */
    line-height: 1.645;
    /* Высота линии */
    font-weight: 500;
    /* Толщина шрифта */
}

.hero__text,
.main__text,
.about__text {
    width: 48.648648649%;
    /* Ширина параграфа с текстом на странице */
    line-height: 1.625;
    /*  параграфа с текстом на странице */
    font-weight: 400;
    /* Толщина шрифта */
    color: #727272;
    /* Цвет шрифта */
}

.hero__text {
    margin-bottom: 5.855855856%;
    /* Нижний отступ */
}

.hero__btn {
    display: inline-block;
    /* Чтобы на задний фон при сужении текст не налезал (другие элементы)  */
    padding: 1.801801802% 3.693693694% 1.801801802% 3.693693694%;
    /* Стилизация, чтобы надпись ссылка была на кнопку похожа  */
    line-height: 1.641;
    /* Высота строки согласно макета */
    letter-spacing: 0.1rem;
    /* Межбуквенное расстояние */
    font-weight: 400;
    /* Толщина шрифта  */
    text-decoration: none;
    /* Убрать подчеркивание */
    color: white;
    /* Цвет шрифта для данной ссылки */
    background: #34547A;
    /* Цвет заднего фона */
    transition: all .8s;
    /* Для плавной смены заднего фона при наведении  */
}

.hero__btn:hover {
    background-color: #a87b18;
    /* Цвет заднего фона при наведении */
    transition: all .8s;
    /* Для плавной смены заднего фона при наведении  */
}

.about>.container,
.main>.container {
    text-align: center;
    /* Делаю текст и заголовки по центру  */

}

.about__title {
    margin: 10.09009009% 0% 4.504504505% 0%;
    /* Отступы для заголовка от верхней части сайта и текста под заголовком */
    font-size: 2rem;
    /* Величина шрифта заголовка второго уровня */
    font-weight: 500;
    /* Толщина шрифта заголовка второго уровня */
    line-height: 1.1875;
    /* Междустрочное пространство согласно макета  */
}

.about__text {
    margin-bottom: 9.009009009%;
    /* Отделяем текст от раздела с картинками внизу */
}

.projects {
    background: #34547A;
    /* Цвет для раздела проекты (тот, что с картинками) */
}

.projects>.container {
    display: flex;
    /* Картинки в линию */
    justify-content: space-between;
    /* Цвет для раздела проекты (тот, что с картинками) */
    padding: 5.208333333% 0%;
    /* Верхний и нижний внетренний отступ чтоб картинки расположить как на макете внутри блока */
}

.projects__item {
    display: flex;
    /* чтобы блоки стали рядом это картинка и описание */

}

.projects__description {
    display: flex;
    /* чтобы блоки стали рядом это картинка и описание */
    flex-direction: column;
    /* чтобы чтоб текст и заголовок друг под другом */
    justify-content: space-around;
    /* Разделить их между собой, текст и заголовок */
    margin-left: 16.654592087%;
    /* Отступы от картинок левый*/
    margin-right: 40.803750614%;
    /* Отступ от картинок правый */
    color: #FFFFFF;
    /* Шрифт цвет */
}

.main {
    background: #eeeff1;
    /* Задний фон цвет у мейн по макету */
    padding: 5.833333333% 0% 5.208333333%;
    /* Мейн оторвал от футера и раздела с картинками проекты */
}

.main__title {
    margin-bottom: 4.504504505%;
    /* Нижний отступ для заголовка второго уровня */
    font-size: 2rem;
    /* Шрит для заголовка второго уровня */
    line-height: 1.1875;
    /* Шрит для заголовка второго уровня */
    font-weight: 500;
    /* Шрит для заголовка второго уровня */
}

.main__text {
    margin-bottom: 5.135135135%;
    /* Нижний отступ для текста , чтоб от видео отделить */
}

.video {
    width: 100%;
    /* Ширина работала вместе с расширением и сужением родителя*/
    height: 600px;
    /* Высота как по макету */
}

.footer {
    padding: 2.604166667% 0%;
    /* Контент как на макете , чтобы по центру был (вертикаль) */
    color: white;
    /* Цвет для шрифта */
    background: #34547A;
    /* Задний фон для футера */
}

.footer__text {
    margin-bottom: 1.801801802%;
    /* Отделить от текста див */
    font-size: 1.313rem;
    /* Шрифт по макету */
    line-height: 1.19;
    /* Высота строк по макету */
    font-weight: 400;
    /* Толщина строк по макету */
}

.footer__info {
    font-size: 0.813rem;
    /* Высота строк по макету */
    line-height: 1.615;
    /* Межстрочный интервал по макету */
    font-weight: 400;
    /* Толщина шрифта по макету */
}